---
import { Icon } from "astro-icon";

export interface Props {
  idA?: string;

}

const idA = Astro.props.idA;

import settings from "~/config/settings";
const year = new Date().getFullYear();
---

<footer>
  <div class="ilk-satir">
    <div class="sm:col-span-12 lg:col-span-3">
      <div id={idA} class="mb-2">
        <a class="inline-block font-bold" aria-label={settings.name} href="/"
          >{settings.name}
        </a>
      </div>
      <div class="text-sm text-gray-600">
        <p class="text-gray-600 transition duration-150 ease-in-out">
          7520 NW 104th Ave
        </p>
        <p class="text-gray-600 transition duration-150 ease-in-out">
          Ste A103 PMB 4222
        </p>
        <p class="text-gray-600 transition duration-150 ease-in-out">
          Doral, FL 33178-3374
        </p>
        <p class="flex leading-6">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M4.05 21q-.45 0-.75-.3t-.3-.75V15.9q0-.35.225-.613t.575-.337l3.45-.7q.35-.05.713.063t.587.337L10.9 17q1.9-1.15 3.475-2.725T17 10.9l-2.4-2.45q-.225-.225-.288-.513T14.3 7.3l.65-3.5q.05-.35.325-.575T15.9 3h4.05q.45 0 .75.3t.3.75q0 3.225-1.438 6.288t-3.8 5.425q-2.362 2.362-5.425 3.8T4.05 21Z"
            ></path>
          </svg> +1-517-6140802
        </p>
        <p class="flex leading-6">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M4 20q-.825 0-1.413-.588T2 18V6q0-.825.588-1.413T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.588 1.413T20 20H4Zm8-7l8-5V6l-8 5l-8-5v2l8 5Z"
            ></path>
          </svg> m.perez@sefooddepotllc.com
        </p>
      </div>
    </div>
  </div>
  <div class="md:flex md:items-center md:justify-between py-4 md:py-8">
    <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
      Made by <a
        class="text-accent hover:underline"
        href="https://novanet.studio"
        target="_blank">Novanet Studio</a
      >
      <p>
        Copyright © {settings.name}
        {year}
      </p>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply max-w-6xl mx-auto px-4 sm:px-6;
  }
  .ilk-satir {
    @apply grid sm:grid-cols-12 gap-8 py-8 md:py-12 border-t border-gray-200 dark:border-slate-800;
  }
  .menu-item {
    @apply link-primary link-hover hover:text-gray-700 transition duration-150 ease-in-out;
  }
  input {
    @apply w-full text-gray-800 px-3 py-2 pr-12 text-sm border focus:border-primary  focus-visible:ring-primary rounded-sm dark:bg-slate-900 dark:border-slate-600;
  }
  input:focus-visible {
    --tw-ring-color: red;
  }
  [astro-icon="bi:arrow-right"] {
    @apply w-5 h-5 text-primary-focus mx-3 flex-shrink-0;
  }
</style>
